---
---

@import "{{ site.theme }}";

.wrapper {
  width: 90%; /* Adjust the width as a percentage of the screen */
  max-width: 1200px; /* Limit maximum width to 1200px */
  margin: 0 auto;
}

section {
  width: 70%; /* Adjust the width as a percentage of the screen */
  float: right;
  padding-bottom: 5%; /* Adjust padding as a percentage of the screen */
}

/* Add media query for smaller screens */
@media screen and (max-width: 768px) {
  .wrapper {
    width: 90%; /* Adjust the width for smaller screens */
    padding: 0 5%; /* Add padding to create space on smaller screens */
  }

  section {
    width: 100%; /* Change width to 100% for responsiveness on smaller screens */
    float: none; /* Remove float */
    padding-bottom: 5%; /* Adjust padding as a percentage of the screen */
  }
}